html,
body {
    /* puts content at the bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
}

.search-bar {
    display: inline-block;
}

.search-bar input {
    width: 200px;
}

.serach-bar ul {
    width: 200px;
}

.search-bar li {
    width: 200px;
}

.text-box {
    width: 100%;
}

.row {
    margin: auto
}

h1 ,h3 {
    font-family: 'Merriweather', serif;
    color: #062A80;
}

body {
    font-family: 'Montserrat', sans-serif;
}