html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.search-bar {
    display: inline-block;
}

.search-bar input {
    width: 200px;
}

.serach-bar ul {
    width: 200px;
}

.search-bar li {
    width: 200px;
}

.text-box {
    width: 100%;
}

.add-journal-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}